<index: arrays="item/items" element="dropdown">
  <div class="ui selection dropdown {{if disabled}}disabled{{/}} {{if open}}active visible{{/}}" on-click="open($event)">
    <i class="dropdown icon"></i>
    <div class="text">{{unescaped @text || selected.text || value}}</div>
    <ol class="menu {{if open}}transition visible{{/}}">
      {{each @items as #item, #i}}
      <li class="item {{if #item.value === value}}active{{/}}" on-click="select($event, #i, #item)">
        {{unescaped #item.content || #item.text || #item.value}}
      </li>
      {{/}}
    </ol>
  </div>
